<!-- <div class="button-row">
    <button id="sample-text-button">Sample Text</button>
    <button id="translate-button">Translate!</button>
</div>
 -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Yomi-kaeru</title>
	<link
	  rel="icon"
	  type="image/svg"
	  href="/imgs/frog-soup-square.svg"
	/>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/theme-default.css" />
	<link rel="stylesheet" href="/css/style.css" /></head>
<body>
	<header>
		<div class="content">
			<a class="home-link" href="/">
				<div class="img-wrapper">
          <div class="img-filter"></div>
					<img src="../imgs/frog-soup-square.svg" alt="frog-icon"/>
				</div>
				<h1>Yomi-kaeru 読み替える</h1>
			</a>
      <a href="/logout"><button class="primary-button">GET EXTENSION</button></a>
      <a href="/logout"><button>LOGOUT</button></a>
		</div>
	</header>
	<main>
		<div class="content">
      <div class="profile-row">
        <section class="preference-controls">
          <form method="post" onsubmit="return false;">
            <h2>Kanji Grades</h2>
            <label class="checkbox-row" for="grade-1">
              <span>Grade 1</span>
              <div class="form-line"></div>
              <input id="grade-1" name="grade-1" type="checkbox" <%= preferences.grades.grade1 ? "checked" : "" %>>
            </label>
            <label class="checkbox-row" for="grade-2">
              <span>Grade 2</span>
              <div class="form-line"></div>
              <input id="grade-2" name="grade-2" type="checkbox" <%= preferences.grades.grade2 ? "checked" : "" %>>
            </label>
            <label class="checkbox-row" for="grade-3">
              <span>Grade 3</span>
              <div class="form-line"></div>
              <input id="grade-3" name="grade-3" type="checkbox" <%= preferences.grades.grade3 ? "checked" : "" %>>
            </label>
            <h2>Default Language</h2>
            <div class="default-language-container">
              <label>Japanese <input name="default-language" type="radio" id="japanese" value="japanese" <%= preferences.defaultLanguage === "japanese" ? "checked" : "" %>/></label>
              <label>English <input name="default-language" type="radio" id="english" value="english" <%= preferences.defaultLanguage === "english" ? "checked" : "" %> /></label>
              <label>Romaji <input name="default-language" type="radio" id="romaji" value="romaji" <%= preferences.defaultLanguage === "romaji" ? "checked" : "" %> /></label>
            </div>
            <!-- <div class="frequency-container"> -->
              <h2><label for="frequency">Replacement Frequency</label></h2>
              <input id="frequency" name="frequency" type="range" value=<%= preferences.frequency %>>
            <!-- </div> -->
            <button id="save-button" class="primary-button">Save</button>
            <button id="translate-button">Translate</button>
            <button id="sample-text-button">Sample Text</button>
          </form>
        </section>
        <section class="text-container">
          <div class="text-display" class="text-box"></div>
          <textarea class="text-input" class="text-box" placeholder="Insert text here!" maxlength="2011"></textarea>
        </section>
      </div>
    </div>
  </main>
  <div id="info-popup">
    <div class="popup-content">
      <span>Japanese: <span id="japanese-reading"></span></span>
      <span>English: <span id="english-reading"></span></span>
      <span>Romaji: <span id="romaji-reading"></span></span>
    </div>
  </div>
  <div id="loading-screen">
    <div class="img-wrapper">
      <img src="../imgs/frog-soup-square.svg" alt="frog-icon"/>
      <div class="img-filter"></div>
    </div>
    <h2>Loading...</h2>
  </div>
  <script>
    window.preferences = <%- JSON.stringify(preferences) %>;
  </script>
  <script type="text/javascript" src="js/dist/purify.min.js"></script>
  <script src="js/profile.js"></script>
  </body>
  </html>